@use "sass:color";

.kbm-button {
  position: relative;
  box-sizing: border-box;
  display: inline-flex;
  padding: 0;
  font-size: inherit;
  border-radius: var(--button-radius, 900px);
  line-height: 1;
  font-family: unset;
  margin: 0;
  cursor: pointer;
  background: none;
  height: var(--button-height, 30px);
  width: auto;

  justify-content: center;
  align-items: center;
  border-width: var(--button-border-width, 1px);
  border-style: solid;
  border-collapse: collapse;
  border-spacing: 0;
  border-color: var(--button-border-color, #000);
  background: var(--button-background, rgba(0, 0, 0, 0));
  color: var(--button-text-color, #000);
  transition: background-color 0.25s ease-in-out, border-color 0.25s ease-in-out;
  outline: none;
  user-select: none;
  -webkit-appearance: none;
  overflow: visible;
  vertical-align: middle;


  .label {
    box-sizing: border-box;
    display: inline-flex;
    padding: 0 16px;
    font-family: var(--button-font-family, "Roboto", sans-serif);
    font-size: var(--button-font-size, 1rem);
    font-weight: var(--button-font-weight, 400);
  }

  &:focus,
  &:active {
    --button-background: var(--button-focus-background, var(--color-secondary, #ccc));
    --button-border-color: var(--button-focus-border-color, var(--color-secondary, #ccc));
  }

  .kbm-icon[end] {
    margin-left: -16px;
  }

  .kbm-icon:not([end]) {
    margin-right: -16px;
  }

  .kbm-icon {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: var(--button-height, 30px);
    width: var(--button-height, 30px);
    overflow: hidden;
    color: var(--button-text-color, #000);
    font-weight: var(--icon-font-weight, 400);
  }
}


