.kbm-default-page {
  display: grid;
  grid-template-rows: 130px 1fr;
  height: 100%;
}


.page-top {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.page-bottom {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow-y: auto;
}

