.kbm-checkbox {
  position: relative;
  display: inline-flex;
  vertical-align: middle;
  cursor: pointer;
  height: var(--kbm-checkbox-size, 24px);
  padding-left: var(--kbm-checkbox-size, 24px);
  align-items: center;
  font-size: var(--kbm-checkbox-font-size, inherit);
  user-select: none;

  input[type="checkbox"] {
    opacity: 0;
    height: 0;
    width: 0;
  }

  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: var(--kbm-checkbox-size, 24px);
    width: var(--kbm-checkbox-size, 24px);
    border-radius: var(--kbm-checkbox-border-radius, 4px);
    background-color: var(--kbm-checkbox-background-color, transparent);
    border: 1px solid var(--kbm-checkbox-border-color, #3FA9F5);
  }

  input[type="checkbox"] + .checkmark {
    box-sizing: border-box;

    .checkmark-path {
      scale: 0.75;
      transform-origin: 50% 50%;
      transition: stroke-dashoffset 180ms 0ms cubic-bezier(0.4, 0, 0.6, 1);
      stroke: var(--kbm-checkbox-checkmark-color, #FFF);
      stroke-width: 3.12px;
      stroke-dashoffset: 29.7833385;
      stroke-dasharray: 29.7833385;
    }
  }

  input[type="checkbox"]:checked + .checkmark {
    background-color: var(--kbm-checkbox-background-color-checked, #3FA9F5);

    .checkmark-path {
      stroke-dashoffset: 0;
    }
  }
}



