<ng-content select="kbm-logo"></ng-content>
<nav>
  <a>
    <small class="up"></small>
    <div class="label">
      <span class="material-symbols-outlined icon">home</span>
      <span>Home</span>
    </div>
    <small class="down"></small>
  </a>
  <a>
    <small class="up"></small>
    <div class="label">
      <span class="material-symbols-outlined icon">folder_open</span>
      <span>Tenants</span>
    </div>
    <small class="down"></small>
  </a>
  <a>
    <small class="up"></small>
    <div class="label">
      <span class="material-symbols-outlined icon">person</span>
      <span>Users</span>
    </div>
    <small class="down"></small>
  </a>

  <a>
    <small class="up"></small>
    <div class="label">
      <span class="material-symbols-outlined icon">power</span>
      <span>Devices</span>
    </div>
    <small class="down"></small>
  </a>
</nav>

<ng-content></ng-content>
