.kbm-sidebar {
  --radius: 10px;
  display: flex;
  flex-direction: column;
  flex: 1;
  background: var(--sidebar-background);

  &.small {
    width: 50px;
  }

  kbm-logo {
    margin-top: 45px;
  }
}

nav {
  a {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100px;
    background: var(--sidebar-background);
    margin-bottom: 10px;
    cursor: pointer;
    user-select: none;

    .label {
      font-family: inherit;
      font-weight: 100;
      display: flex;
      flex-direction: column;
      background: transparent;
      position: absolute;
      left: 20px;
      padding-right: 20px;
      top: var(--radius);
      bottom: var(--radius);
      right: 0;
      border-radius: 900px 0 0 900px;
      justify-content: center;
      align-items: center;
      color: #fff;
    }

    .icon {
      font-size: 36px;
      font-weight: 100;
    }


    &.active,
    &:hover {
      .label {
        background: white;
        color: #000;
      }

      small.up,
      small.down {
        position: absolute;
        width: var(--radius);
        height: var(--radius);
        background: white;


        &:before {
          position: absolute;
          content: '';
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
          background: var(--sidebar-background);
        }
      }

      small.up {
        right: 0;
        top: 0;

        &:before {
          border-radius: 0 0 900px 0;
        }
      }

      small.down {
        right: 0;
        bottom: 0;

        &:before {
          border-radius: 0 900px 0 0;
        }
      }
    }
  }
}

.kbm-sidebar.small {
  nav {
    a {
      height: 60px;
      margin: 33px 0;

      .icon {
        font-size: 24px;
      }

      .label {
        left: 5px;
        padding-right: 5px;
        border-radius: 900px 0 0 900px;

        span:not(.icon) {
          display: none;
        }
      }
    }
  }

  kbm-logo {
    .logo-text {
      display: none;
    }
  }
}


