.kbm-toolbar {
  display: flex;

  .open-slot {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .menu {
    display: flex;
    align-items: center;
    padding: 0 var(--main-gap);
  }

  .link {
    --button-background: transparent;
    --button-border-color: transparent;
    --button-text-color: #000;
    --button-font-size: 14px;
    --icon-font-weight: 100;
  }
}
