.kbm-sidebar {
  --radius: 10px;
  display: flex;
  flex-direction: column;
  flex: 1;
  background: var(--sidebar-background);

  &.small {
    width: 50px;
  }

  kbm-logo {
    margin-top: 45px;
  }
}


.kbm-sidebar.small {
  kbm-logo {
    .logo-text {
      display: none;
    }
  }
}


