table {
  width: var(--table-width, 100%);
  border-collapse: collapse;
  background-color: transparent;
  font-size: var(--table-font-size, 1rem);

  th {
    color: var(--table-heading-color, #000);
    font-size: var(--table-heading-font-size, 1rem);
    font-weight: var(--table-heading-font-weight, 700);
  }

  th, td {
    text-align: left;
    padding: 10px;
  }

  tr {
    td:last-child {
      border-top-right-radius: var(--table-row-radius, 900px);
      border-bottom-right-radius: var(--table-row-radius, 900px);
    }

    td:first-child {
      border-top-left-radius: var(--table-row-radius, 900px);
      border-bottom-left-radius: var(--table-row-radius, 900px);
    }

    &:nth-child(odd) {

      td {
        background-color: var(--table-odd-row-background-color, #fff);
        color: var(--table-odd-font-color, #000);
        padding: 0 10px;
      }
    }
  }
}
